<div class="container my-4">
  <h1 class="h4 mb-3">Lista de departamentos</h1>
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th>Número</th>
          <th>Nombre</th>
          <th>Localidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (departamento of departamentos; track $index) {
        <tr>
          <td>{{ departamento.numero }}</td>
          <td>{{ departamento.nombre }}</td>
          <td>{{ departamento.localidad }}</td>
          <td>
            <a
              class="btn btn-dark me-2"
              [routerLink]="[
                '/details',
                departamento.numero,
                departamento.nombre,
                departamento.localidad
              ]"
              >Detalles</a
            >
            <a class="btn btn-info me-2" [routerLink]="['/edit', departamento.numero]">Editar</a>
            <button class="btn btn-danger" (click)="deleteDepartamento(departamento.numero)">
              Eliminar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
